:root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #ececec;
  --right-msg-bg: #579ffb;
}

body{
  background-image: url("https://scontent.fbkk12-2.fna.fbcdn.net/v/t1.0-9/68471019_366237327385827_6744858826807181312_o.jpg?_nc_cat=105&_nc_sid=dd9801&_nc_eui2=AeF6D8Ne9iuudGQSptwJrTj4Dbr-HUTH51INuv4dRMfnUsCU3MVzsDEh20UHZW1xzr6hQbeWldWjNcqzCnWBIfXx&_nc_ohc=nrEx8BgrrE0AX9_nY1s&_nc_ht=scontent.fbkk12-2.fna&oh=567f6fa29d44453a80fa4c783526145d&oe=5EB6E53A");
  background-position: center;
}

/* html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: var(--body-bg);
    font-family: Helvetica, sans-serif;
  } */

@font-face {
  font-family: bebas;
  src: url("../fonts/BebasNeue-Regular.otf");
}

@font-face{
  font-family: ekkamai;
  src: url("../fonts/EkkamaiStandard-Light.ttf");
}

@font-face{
  font-family: anantason;
  src: url("../fonts/Anantason-Regular.ttf");
}

.anantason{
  font-family: anantason;
}

.ekkamai{
  font-family: ekkamai;
}

.bebas {
  font-family: bebas;
}

.text-cb {
  color: #0f4c81;
}

.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  vertical-align: middle;
  width: 750px;
  /* max-width: 867px; */
  margin: 25px 10px;
  height: calc(100% - 50px);
  border-radius: 5px;
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: var(--border);
  background: #eee;
  color: #666;
}

.msger-chat {
  flex: auto;
  height: 650px;
  /* overflow-y: auto; */
  overflow: auto;
  padding: 15px;
  border-radius: 5px 5px 0 0;
}
.msger-chat::-webkit-scrollbar {
  width: 6px;
}
.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}
.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.msg:last-of-type {
  margin: 0;
}
.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.swal-wide {
  width: 1000px !important;
}
.avatar-select {
  width: 120px;
  height: 120px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}
.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: rgb(255, 241, 241);
  border-radius: 0 0 5px 5px;
}
.msger-inputarea * {
  border: none;
  border-radius: 5px;
  line-height: 45px;
  /* height: 100%; */
}

.msger-input {
  display: flex;
  width: 70%;
  align-items: center;
  flex-direction: row;
  justify-content: center;
 
}
.msger-send-btn {
  margin-left: 10px;
  background: rgb(95, 211, 91);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
  padding-left: 15px;
  padding-right: 15px;
}
.msger-send-btn:hover {
  background: rgb(39, 170, 76);
}

.msger-chat {
  /* background-color: #0f4c81; */
  background-color: black;
  background-image: url("https://scontent.fbkk9-2.fna.fbcdn.net/v/t1.0-9/32308891_167918627217699_8325900584125202432_o.jpg?_nc_cat=109&_nc_sid=85a577&_nc_eui2=AeHTKshkrLREjfxeCf4BMse3GfidbwwnfRcZ-J1vDCd9F4j-MU8h2EyWvZo0zz0y_3nx7yQ1e2NyLhXrv_7bvCMx&_nc_ohc=rvZjmXgEbRUAX8fgG6x&_nc_ht=scontent.fbkk9-2.fna&oh=9fa478843efdb3fcead113693823d28e&oe=5EB6C446");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 85%;
}
.msg-text {
  word-wrap: break-word;
}

body {
  overflow: hidden;
}

.t-head{
  font-family: bebas;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 48px;
}

@media (max-height:870px){
  .t-head{
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .msger-chat{
    height: calc(100vh - 200px);
  }
  .msger{
    margin: 0;
    height: calc(100vh - 128px);
  }
}

@media (max-width:750px){
  .msger{
    width: 100vw;
    margin-left: 0;
    font-size: 0.8rem;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

